body {
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background: #e50914;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

section {
    background: #222;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 8px;
}

input, button {
    padding: 10px;
    margin: 5px;
    border-radius: 6px;
    border: none;
}

button {
    background: #e50914;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #b20710;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    background: #333;
    padding: 10px;
    margin: 5px 0;
    border-radius: 6px;
}
